<% include partials/header %>
<h1>Sign up</h1>

<form method="POST" action="/register">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<button type="submit">Sign Up</button>
</form>