<% include partials/header %>
<h1>Login Page</h1>

<form method="POST" action="/login">
	<input type="text" name="username" placeholder="Enter username">
	<input type="password" name="password" placeholder="Enter Password">
	<button type="submit">Login</button>
</form>