<% include partials/header %>

<header class='jumbotron'>
    <h1>Welcome to Campground Arena</h1>    
</header>


<p>This is just a landing page</p>

<a href="/camps">View all campgrounds</a>

<% include partials/footer %>